.menu {
    display: inline-block;
    width: 45%;
}

.food {
    display: block;
    border: 1px solid darkgrey;
    margin: 5px;
    padding: 10px;
}
.info {
    vertical-align: bottom;
    line-height: 60px;
    width: 50%;
}

.food-img,
.info,
.info,
.food-name,
.food-price,
.add-btn {
    display: inline-block;
    margin: 0 6px;
}

.food-img {
    width: 100px;
    background-size: contain;
    border-radius: 50%;
}

.food-name {
    text-transform: capitalize;
}

.food-price {
    font-weight: 700;
}

.add-btn {
    float: right;
    margin: 19px 33px 0 0;
}